.page__content {
  margin: 80px 80px;
}

.page__content .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.article__box {
  width: 290px;
  text-align: center;
}

.article__title {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--white-color);
  margin: 20px 0;
}

.article__text {
  color: var(--article-color);
  margin-bottom: 20px;
  letter-spacing: 1.5;
  line-height: 1.5;
}

.article__btn {
  display: inline-block;
  padding: 15px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  background: none;
  text-decoration: none;
  font-weight: 600;
}
