.header {
  height: 520px;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 3em;
  font-weight: bold;
  color: var(--banner-color-text);
}
